@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/colors";
* {
  margin: $reset;
  padding: $reset;
  box-sizing: border-box;
  transition: 0.3s ease all;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: $body-bg-color;
}

section {
  margin: 3rem 0;
}

h2 {
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@include responsive-container(1100px, 950px);
@include responsive-container(950px, 700px);
@include responsive-container(700px, 550px);
@include responsive-container(550px, 450px);

.p-relative {
  position: relative;
}