@import "../utils/mixins";
@import "../utils/variables";
.product {
  @include flexbox(flex-start, space-between, column, 1rem);
  border: 1px solid #aaa;
  box-shadow: 0 4px 6px rgba(#000000, 0.3);
  border-radius: $border-radius;
  overflow: hidden;
  padding: 1rem;
  &__image {
    img {
      border-radius: $border-radius;
      box-shadow: 0 4px 6px rgba(#000000, 0.3);
      position: absolute;
      top: -6rem;
      width: 100%;
      height: 100%;
      transform: rotate(5deg);
      object-fit: cover;
      left: 0;
      &:hover {
        transform: rotate(0);
      }
    }
  }
}
